---
---

{% include head.html %}
{% include body.html %}
{% include site-header.html %}

<div class='post-list -single'>
  <div class="post-item">
    <div class="post-headline">
      <abbr class='post-icon -icon-{{ page.tags[0] | camelize }}' title='{{ page.tags[0] }}'></abbr>
      <h1>
        <a href=".{{ page.url }}" rel="bookmark" title="{{ page.title }}">
          {{ page.title }}
        </a>
      </h1>
      <h5 class='meta'>
        <a href=".{{ page.url }}" rel="bookmark" title="{{ page.title }}">
          <span class='author'>{{ site.meta.author }}</span>
          &middot;
          <span class='date'>{{ page.date | date: "%B %e, %Y" }}</span>
        </a>
      </h5>
    </div>

    <div class="post-content">
      {{ content }}
    </div>

    <ul class="social-list">
      <li class="facebook hint--bottom" data-hint="Share on Facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="share"><span class="text">Like</span></a></li>
      <li class="twitter hint--bottom" data-hint="Share on Twitter"><a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}" target="share"><span class="text">Tweet</span></a></li>
      <li class="googleplus hint--bottom" data-hint="Share on Google Plus"><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="share"><span class="text">+1</span></a></li>
    </ul>
  </div>
</div>

{% if page.previous %}
<div class='next-article'>
  <div class='container'>
    <span class='heading'>Next article:</span>
    <h3><a href=".{{ page.previous.url }}">{{ page.previous.title }}</a></h3>
    {% comment %}<p class='excerpt'>{{ page.previous.content | strip_html | truncatewords: 15 }}</p>{% endcomment %}
    <a class='big-button -next' href='.{{ page.previous.url }}'>Read more</a>
  </div>
</div>
{% endif %}

{% include about-the-author.html %}
{% include end.html %}
