<div class="about-the-author">
  <div class="container">
    <h3>@rstacruz</h3>
    <p>
      <strong>I'm <a href="http://ricostacruz.com">Rico Sta. Cruz</a></strong>, a web developer
      who makes open-source JavaScript projects. You're reading my
      <a href="{{ site.url }}">Today I learned</a> blog.
      <i class='fleuron'></i>
      Follow me on
      <a href="https://twitter.com/rstacruz">Twitter</a> for web development snark,
      <a href="https://github.com/rstacruz">GitHub</a> for code, and
      <a href="https://instagram.com/rstacruz">Instagram</a> for calligraphy.
    </p>

    {% if page.url != '/index.html' %}
    <p class='back'>
      <a class='back-button' href='.'>Read more</a>
    </p>
    {% endif %}

    <p>
    </p>
  </div>
</div>
