<div class='post-list'>
  <div class="post-item">
    <div class="post-headline">
      <abbr class='post-icon -icon-{{ include.post.tags | first | slugify }} hint--right' data-hint='{{ include.post.tags | first }}'><span data-label='{{ include.post.tags | first }}'></span></abbr>
      <h1>
        <a href=".{{ include.post.url }}" rel="bookmark" title="{{ include.post.title }}">
          {{ include.post.title }}
        </a>
      </h1>
      <h5 class='meta'>
        <a href=".{{ include.post.url }}" rel="bookmark" title="{{ include.post.title }}">
          {% for author in site.authors | where: "name", include.page.author %}
            <span class='author' itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">{{ author.name }}</span>
          {% endfor %}
          &middot;
          <time class='date' itemprop="datePublished" datetime="{{ include.post.date | date: "%Y-%m-%d" }}">{{ include.post.date | date: "%B %e, %Y" }}</time>
        </a>
      </h5>
    </div>

    <div class="post-content">
      {{ include.content }}
    </div>

    {% include social-list.html page=include.post %}
  </div>
</div>

{% comment %}<!-- https://github.com/highlightjs/cdn-release/tree/master/build/languages -->{% endcomment %}
{% for lang in include.post.hljs_languages %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/languages/{{lang}}.min.js"></script>
{% endfor %}
