---
---

@import url('//brick.a.ssl.fastly.net/EB+Garamond:400i')
@import url('//brick.a.ssl.fastly.net/Fira+Sans:700')
@import url('//brick.a.ssl.fastly.net/Roboto:400,400i,700')
@import 'normalize'

$text: #555
$black: #020202
$bg: #fff
$line: #adf
$gray: #808890
$accent: dodgerblue

/*
 * fonts
 */

= kernliga
  font-size-adjust: none
  // don't display digraphs in languages that don't support it
  -webkit-font-language-override: normal
  font-language-override: normal

  // use font-defined kerning info
  -webkit-font-kerning: auto
  font-kerning: auto

  // opentype options: kerning, ligatures, horiz ligatures, discretionary ligatures, contextual swash
  // http://en.wikipedia.org/wiki/List_of_typographic_features
  -webkit-font-feature-settings: "kern", "liga", "dlig", "hlig", "cswh"
  font-feature-settings: "kern", "liga", "dlig", "hlig", "cswh"

  // allow browser to auto-infer missing glyphs
  font-synthesis: weight style

  // swashes on first letters
  // &:first-letter
  //   font-feature-settings: "kern", "swsh"
  //   -webkit-font-feature-settings: "kern", "swsh"

= body-font
  font-family: 'Roboto', sans-serif
  font-weight: 400

= headline-font
  font-family: 'eb garamond', serif
  font-weight: 400
  font-style: italic
  +kernliga

= mono-font
  font-family: menlo, monospace
  font-weight: 400

/*
 * resets
 */

*
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

html
  font-size: 17px
  line-height: 1.7
  background: $bg
  color: $text

  @media (max-width: 768px)
    font-size: 14px

html, input, textarea, td, th
  +body-font

/*
 * each post
 */

.post-item
  max-width: 620px
  margin: 0 auto

.post-list
  margin: 40px auto
  padding: 20px

  @media (max-width: 768px)
    margin: 0 auto

.post-list > .post-item:not(:first-child)
  &:before
    content: ''
    display: block
    width: 150px
    height: 1px
    background: $line
    margin: 7em auto

    @media (max-width: 768px)
      margin: 4em auto

/*
 * headline
 */

.post-headline
  &
    margin: 1.5em auto 3em auto
    text-align: center

  .post-icon
    margin-bottom: 2px

  h1
    text-align: center
    margin-bottom: 0
    font-size: 2.8em
    line-height: 1.3
    +headline-font

    @media (max-width: 768px)
      font-size: 2em

  .meta
    display: block
    text-align: center
    margin: 0
    margin-top: 1em
    font-weight: normal
    text-transform: uppercase
    font-size: 0.85em
    letter-spacing: 1px

  .meta .author,
  .meta .date
    margin: 0 5px

  .meta a,
  .meta a:visited
    color: $gray

  a, a:visited
    color: $black
    text-decoration: none
    box-shadow: none

/*
 * stuff
 */

a, a:visited
  color: $text
  text-decoration: none
  box-shadow: inset 0 -1px rgba(#888, 0.3)

h3, p, ul, ol
  margin: 1.5em 0

h2
  color: $black

h3
  font-family: 'fira sans', sans-serif
  font-weight: 700
  margin-top: 2em
  color: $black
  font-size: 1.1em

  @media (max-width: 768px)
    margin-top: 1.5em

h3 + p
  margin-top: -1.7em

// h3 + pre
//   margin-top: -1em

p > img:first-child:last-child
  display: block
  margin: 0 auto

code
  +mono-font
  font-size: 0.9em

/*
 * code
 */

pre > code
  +mono-font
  display: block
  line-height: 1.5em
  font-size: 0.8em
  color: $text
  // box-shadow: inset 1px 1px rgba(black, 0.06)

pre
  padding: 20px 50px
  border-radius: 4px
  background: #fafafa
  margin: 2.2em -50px

  @media (max-width: 768px)
    padding: 20px
    margin: 2em -20px

pre + pre
  margin-top: -1.1em

/*
 * hljs
 */

.hljs-literal,
.hljs-number,
.hljs-string,
.hljs-symbol,
.hljs-value
  color: $accent

.hljs-key,
.hljs-attribute
  color: darken($accent, 20%)

.hljs-keyword,
.hljs-constant
  color: $black

.hljs-comment
  color: $gray
  font-style: italic

/*
 * site header
 */

.site-header
  text-align: center
  padding: 0 20px

  .container
    padding: 15px 20px
    font-size: 0.9em
    color: $gray
    border-bottom: solid 1px #eee

  em
    +headline-font

/*
 * icon
 */

$icon-size: 56px

= iconify($color, $text)
  &
    background: $color
    color: lighten($color, 50%)
    box-shadow: -2px 2px #e67e22, 2px -2px #f1c40f, -3px -2px rgba($color, 0.2), 2px 3px rgba($color, 0.3)

  &:after
    content: $text

.post-icon,
abbr.post-icon
  border: 0
  margin: 0
  display: inline-block
  width: $icon-size
  height: $icon-size
  line-height: $icon-size + 2px
  text-align: center
  border-radius: 50%
  color: white
  background: #eee

  font-family: 'fira sans', sans-serif
  font-weight: 700
  +body-font
  font-size: 16px
  letter-spacing: 1px

  @media (max-width: 480px)
    transform: scale(0.75)

  &.-icon-CSS
    +iconify(#3498db, 'CSS')
    font-size: 14px
    line-height: $icon-size + 2px
  &.-icon-Development
    +iconify(#34495e, 'DEV')
    font-size: 14px
    line-height: $icon-size + 2px
  &.-icon-Ruby
    +iconify(#e74c3c, 'RB')
    text-indent: 2px
  &.-icon-JavaScript
    +iconify(#2ecc71, 'JS')
    text-indent: 1px
