---
---

@import url('//brick.a.ssl.fastly.net/EB+Garamond:400i')
@import url('//brick.a.ssl.fastly.net/Fira+Sans:700')
@import url('//brick.a.ssl.fastly.net/Roboto:400,400i,700')
@import 'normalize'

$text: #555
$black: #020202
$bg: #fff
$line: #adf
$gray: #808890
$accent: dodgerblue

/*
 * fonts
 */

= body-font
  font-family: 'Roboto', sans-serif
  font-weight: 400

= headline-font
  font-family: 'eb garamond', serif
  font-weight: 400
  font-style: italic
  font-feature-settings: "kern", "liga", "dlig"

= mono-font
  font-family: menlo, monospace
  font-weight: 400

/*
 * resets
 */

*
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

html
  font-size: 17px
  line-height: 1.7
  background: $bg
  color: $text

  @media (max-width: 768px)
    font-size: 14px

html, input, textarea, td, th
  +body-font

/*
 * each post
 */

.post-item
  max-width: 620px
  margin: 0 auto

.post-list
  margin: 40px auto
  padding: 20px

  @media (max-width: 768px)
    margin: 0 auto

.post-list > .post-item:not(:first-child)
  &:before
    content: ''
    display: block
    width: 150px
    height: 1px
    background: $line
    margin: 7em auto

    @media (max-width: 768px)
      margin: 4em auto

/*
 * headline
 */

.post-headline
  &
    margin: 1.5em auto 3em auto

  h1
    text-align: center
    margin-bottom: 0
    font-size: 2.8em
    line-height: 1.3
    +headline-font

    @media (max-width: 768px)
      font-size: 2em

  .meta
    display: block
    text-align: center
    margin: 0
    margin-top: 1em
    font-weight: normal
    text-transform: uppercase
    font-size: 0.85em
    letter-spacing: 1px

  .meta .author,
  .meta .date
    margin: 0 5px

  .meta a,
  .meta a:visited
    color: $gray

  a, a:visited
    color: $black
    text-decoration: none
    box-shadow: none

/*
 * stuff
 */

a, a:visited
  color: $text
  text-decoration: none
  box-shadow: inset 0 -1px rgba(#888, 0.3)

h3, p, ul, ol
  margin: 1.5em 0

h2
  color: $black

h3
  font-family: 'fira sans', sans-serif
  font-weight: 700
  margin-top: 2em
  color: $black
  font-size: 1.1em

  @media (max-width: 768px)
    margin-top: 1.5em

h3 + p
  margin-top: -1.7em

// h3 + pre
//   margin-top: -1em

code
  +mono-font
  font-size: 0.9em

/*
 * code
 */

pre > code
  +mono-font
  display: block
  line-height: 1.5em
  font-size: 0.8em
  color: $text
  // box-shadow: inset 1px 1px rgba(black, 0.06)

pre
  padding: 20px 50px
  border-radius: 4px
  background: #fafafa
  margin: 2.2em -50px

  @media (max-width: 768px)
    padding: 20px
    margin: 2em -20px

pre + pre
  margin-top: -1.1em

/*
 * hljs
 */

.hljs-literal,
.hljs-number,
.hljs-string,
.hljs-symbol,
.hljs-value
  color: $accent

.hljs-key,
.hljs-attribute
  color: darken($accent, 20%)

.hljs-keyword,
.hljs-constant
  color: $black

.hljs-comment
  color: $gray
  font-style: italic

/*
 * site header
 */

.site-header
  text-align: center
  padding: 0 20px

  .container
    padding: 15px 20px
    font-size: 0.9em
    color: $gray
    border-bottom: solid 1px #eee

  em
    +headline-font
