---
type: blog
---
{% include head.html %}
{% include body.html %}
{% include site-header.html %}

{% if site.posts[0] %}
  {% assign post = site.posts[0] %}
  {% include post.html post=post content=post.content %}
{% endif %}

{% if site.posts[1] %}
  {% assign next = site.posts[1] %}
  {% include next-article.html page=next class="-lofi" %}
{% endif %}

{% if site.posts %}
<div class='post-index' id='toc'>
  <div class='container'>
    <h3 class='bottom-space-1'>Previously on TIL:</h3>
    {% for post in site.posts %}
    <a class='post-index-item' href="{{ base }}{{ post.url }}">
        <span class='date'>{{ post.date | date_to_string }}</span>
        <span class='article'>{{ post.title }}</span>
        <strong class='tag'>{{ post.tags | first }}</strong>
      </a>
    {% endfor %}
  </div>
</div>
{% endif %}

{% include about-the-site.html %}
{% include end.html %}
